<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/header' %>
  </head>

    <body>

        <div class="container">

          </br></br></br></br>

          <h1> About the Liveboard </h1>

          </br></br>


          <h2> The Liveboard is a digital bulletin board that highlights events
          on and around college campuses.  It is currently available for use
          at a limited number of colleges. <br/><br/>
          The Liveboard was created by Alex Stein and Bryan Knouse, with the help of
          Michael Costigan and Benjamin Clifford.</h2>



        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

        </div>

    </body>
    <div id="footer"><%= render 'layouts/footer' %></div>
</html>