<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/header' %>
  </head>

    <div id="body">

        <div class="container">

          </br></br></br></br>

          <h1> Contact Us </h1>

                </br></br>

          <h2> Press - press@theliveboard.com <br/><br/>
               Support - support@theliveboard.com <br/><br/>
               Alex - alex@theliveboard.com <br/><br/>
               Bryan - bryan@theliveboard.com <br/><br/>
               Ben - ben@theliveboard.com <br/><br/>
               Michael - michael@theliveboard.com</h2>


          </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

        </div>

      </div>
    <div id="footer"><%= render 'layouts/footer' %></div>
</html>