<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/header' %>
  </head>

  <div id="body">

      <div class="container">

        <br/><br/><br/><br/>

        <h1> Welcome to the Liveboard.</h1>
        <h2>    It's a social world.  Connect with it.</h2>
        <br/><br/><br/>

        <div class="logintit"></div>

        <div id="loginitems">
            <div class="signin">
                    <div class="fbdesc">Are you an individual?</div>
                    <%= form_tag :controller => 'invitations', :action => 'store_token' do %>
                    <%= text_field_tag :token %>
                    <%= submit_tag 'Log-in', :class =>"fbbtn", :id => "login" %>
                    <% end %>
            </div>

            <div class="orgsignin">
                <div class="fbdesc">Are you an organization?</div>
                <%= render :partial => "organizations/login", class: "orgform"  %>
            </div>
        </div>

        <div id="loginextra">
            <%= image_tag 'flier_logo.png', class: "flierlogo" %>

            <div class="logindesc">
                <div class="desc">The Liveboard is a digital bulletin board for your campus.
                  You can use the Liveboard to find events in your community.  </div>
            </div>
        </div>

      </div>
  </div>

  <br/><br/><br/><br/>

  <div id="footer"><%= render 'layouts/footer' %></div>
</html>