<!DOCTYPE html>
<html>
    <head>
        <script src="/app/assets/javascripts/fliers.js.coffee"></script>
        <script src="/app/assets/javascripts/jquery-ui-timepicker.js"></script>
        <%= render 'layouts/header' %>
    </head>
    <div id ="body">
      <div class="container">

                  <br/><br/><br/><br/>

        <div id="inviteborder">

          <div class="invitetit"><div class="redword">Invite</div><div class="inviterest">your friends to Liveboard</div></div>

          <div id="invitation">
            <%= form_for @invitation do |f| %>
            <%= f.label :recipient_email, "Enter email address:", class: "invitelabel"%> <br/>
            <%= f.text_field :recipient_email %>
            <%= f.submit "Invite!", class: "btn invitebtn"%>
            <%end%>
          </div>

          <div id="invitedesc">
                Invite your friends to join the Liveboard. <br/><b> Just type in a friend's email and hit invite.
                It's that simple.</b>
          </div>
        </div>

      </div>
    </div>
    <div id="footer"><%= render 'layouts/footer' %></div>
</html>